spring:
  datasource:
    url: jdbc:h2:file:./h2db/metadata-tools;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password: 123456

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
        web-admin-password: 123456